@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/mixins';
@import 'carbon-components/scss/components/select/_select.scss';

@include exports('regionSelect') {
  .infra--region-select__container {
    display: flex;
  }

  .infra--region-select {
    width: 12.5rem;
    margin-bottom: 1rem;

    & + .region-select {
      margin-left: 1rem;
    }

    &__icon-container {
      float: left;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 1rem 0 0;
    }

    &__icon {
    }

    &__select-container {
      float: left;
      flex: 1;
    }

    &__label {
      display: block;
      font-size: 0.875rem;
      font-weight: 700;
      margin-bottom: 0.125rem;
      color: $text-02;
    }

    &__select {
      display: block;
    }

    &__select .bx--select-input {
      padding: 0.25rem 0 0;
    }

    &__select .bx--select__arrow {
      display: none;
    }
  }
}
