$infra__popular-size-background-color: #eef6fe;
$infra__popular-size-background-color-selected: $ui-01;
$infra__popular-size-color: $color__blue-10;
$infra__popular-size-text-color: $text-01;
$infra__structured-list-border-color: $ui-04; // $ui-03 in Carbon 9.x
