@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/mixins';
@import 'carbon-components/scss/components/dropdown/dropdown';

@include exports('flavorCard') {
  .flavorCard__container > * {
    float: left;
    margin-right: 1rem;
  }

  .flavorCard__container input:checked + .flavorCard {
    @include focus-outline('border');
  }

  .flavorCard {
    font-family: 'IBM Plex Sans';
    padding: 1.25rem 0.875rem;
    width: 12.5rem;
    height: auto;
    display: inline-block;

    & + .flavorCard {
      margin-left: 1rem;
    }

    &__title {
      font-size: 0.75rem;
      color: $text-03;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
    &__details {
      font-size: 0.875rem;
      line-height: 1;
    }

    &__bar {
      position: relative;
      background-color: #e6f5ff;
      padding: 0.325rem 0.5rem;
      margin-bottom: 0.5rem;
    }

    &__price {
      font-size: 0.75rem;
      color: $text-03;
      font-weight: 400;
      margin-top: 0.25rem;
      // padding-top: 0.25rem;
      // border-top: 1px solid $ui-04;
      margin-right: 2rem;
    }
  }
}
